* { margin: 0; padding: 0;}

div#reps {
	display: inline-block;

}

.cuadrovideo{
  position: relative;
  text-align: center;
  color: white;
}

video#video-player {
	width: 	75%;
	text-align: center;	
	margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;

    }


h2 {
	text-align: center;
}



.texto-encima{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    text-align: center;
    color: #F63F17;

}



